# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
/build
next-env.d.ts

# env — NEVER commit real keys
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
*.tsbuildinfo

# IDE
.vs/
.idea/
*.suo
